

<div class="container p-4">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Digital Writern API</h5>
      <p>DigitalWriter.<span style="color: red;">ART</span> on Express JS!</p>    
    </div>
  </div>

  <p>
    Visita el sitio oficial en:
    <a href="https://digitalwriters.art">digitalwriters.art</a>
  </p>
  
</div>

